.service--thumbnails__overlay {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    padding: 10px 0;
    font-family: Georgia,"Times New Roman",Times,serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #CCC;
}
.dashed-line {
    border-bottom: 1px dashed #CCC;
    padding-bottom: 7px;
}
.row__dark {
    border-top: solid 1px #3B3B3B;
    margin-top: 10px;
}
footer .author {
    text-align: center;
    padding: 10px 0;
}
.comment {
    border-bottom: solid thin #CCC;
}
.comment--avatar {
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin-right: 10px;
}
.comment--date {
    font-size: 0.8em;
    font-weight: 300;
}