.service--thumbnails__overlay {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    padding: 10px 0;
    font-family: Georgia,"Times New Roman",Times,serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #CCC;
}