body {
    background-color:#000000;
}
.form-control--dark{
    background-color: transparent;
}
.btn-dark {
    background-color: transparent;
    border: solid 1px #CCC;
    color: #CCC;
}
.img-border--dark {
    border: solid 1px #666666;
    padding: 4px;
}
.img-border--dark__center {
    margin: 0 auto;
}
.img-border--dark__space {
    margin: 5px;
}
.hr-gray {
    border: solid 1px #3B3B3B;
}
.service--thumbnails__overlay {
    background-color: rgba(0,0,0,0.5);
}
.service--thumbnails__overlay a {
    color: #5B5B5B;
}
p {
    color: #CCC;
}
h1, h2, h3, h4, h5, h6 {
    color: #CCC;
}
a {
    color: #9C0;
}
a:hover {
    color: #9C0;
}
.darken{
    color: #CCC;
}
.darken:hover {
    color: #000;
}
.row__dark, .sidebar--dark {
    background-color: #1B1B1B;
}
.row__darken {
    background-color: #2E2E2E;
}
ul, ol, th, td {
    color: #CCC;
}
tr {
    background-color: #222222;
}

.product--thumbnails__overlay h3 {
    color: #6F1F77;
}

.product--thumbnails__overlay p {
    color: #000;
}
