body {
    background-color:#000000;
}
.form-control--dark{
    background-color: transparent;
}
.btn-dark {
    background-color: transparent;
    border: solid 1px #CCC;
    color: #CCC;
}
.img-border--dark {
    border: solid 1px #666666;
    padding: 4px;
}
.hr-gray {
    border: solid 1px #3B3B3B;
}
.service--thumbnails__overlay {
    background-color: rgba(0,0,0,0.5);
}
.service--thumbnails__overlay a {
    color: #5B5B5B;
}