.header--thumbnails {
    margin: 10px 0;
    width: 20%;
}
.service--thumbnails {
    margin: 10px 0;
    width: 25%;
}
.service--thumbnails--parent {
    position: relative;
    overflow: hidden;
}
.service--thumbnails__overlay {
    width: 100%;
    position: absolute;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
}
@media all and (min-width: 300px) and (max-width: 800px){
    .service--thumbnails__overlay {
        font-size: 0.7em;
    }
}
@media all and (min-width: 800px) and (max-width: 1000px){
    .service--thumbnails__overlay {
        font-size: 0.9em;
    }
}
.photo-thumbnail {
    margin-bottom: 10px;
}

.product--thumbnails {
    position: relative;
}

.product--thumbnails img{
    margin: 0 auto;
}

.product--thumbnails__overlay {
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.50);
    bottom: 10px;
    padding: 5px 10px;
}